# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Cache & settings
.z_data.bin
*cache*/
pro_tiklayici_cache.dat

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Log files
*.log 